<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- Additonal Views -->
	<extension point="org.eclipse.ui.views">
		<view name="Structure Viewer" icon="icons/StructureViewer.gif"
			category="de.dailab.vsdt.diagram.views"
			class="de.dailab.vsdt.trafo.strucbpmn.view.StructureView"
			id="de.dailab.vsdt.trafo.strucbpmn.view.StructureView">
		</view>
	</extension>
	
	<!-- Perspective Extensions -->
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="de.dailab.vsdt.perspective">
			<viewShortcut id="de.dailab.vsdt.trafo.strucbpmn.view.StructureView" />
			<view id="de.dailab.vsdt.trafo.strucbpmn.view.StructureView"
				relationship="stack" relative="org.eclipse.ui.views.ContentOutline">
			</view>
		</perspectiveExtension>
	</extension>

	<!-- layout -->
	<!--<extension point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
		<layoutProvider
			class="de.dailab.vsdt.trafo.strucbpmn.layout.VsdtLayoutProvider">
			<Priority name="High" />
		</layoutProvider>
	</extension>-->

</plugin>
