<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.dailab.de/vsdt/vxl/Vxl" 
       class = "de.dailab.vsdt.vxl.vxl.VxlPackage"
       genModel = "src-gen/de/dailab/vsdt/vxl/Vxl.genmodel" /> 
	
  </extension>



</plugin>
