<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
		id="de.dailab.vsdt.trafo.stp.export.wizard"
		name="BPMN to STP BPMN"
		point="org.eclipse.ui.exportWizards">
      <wizard
            category="de.dailab.vsdt.trafo.export"
            class="de.dailab.vsdt.trafo.stp.wizard.Bpmn2StpExportWizard"
            icon="icons/exportStp.gif"
            id="de.dailab.vsdt.trafo.stp.export.wizard"
            name="BPMN to STP BPMN">
         <description>
            A Wizard for Transforming BPMN Diagrams to BPMN Diagrams for the STP Editor
         </description>
      </wizard>
    </extension>
    
    <extension
		id="de.dailab.vsdt.trafo.stp.import.wizard"
		name="STP BPMN to BPMN"
		point="org.eclipse.ui.importWizards">
      <wizard
            category="de.dailab.vsdt.trafo.import"
            class="de.dailab.vsdt.trafo.stp.wizard.StpBpmnImportWizard"
            icon="icons/importStp.gif"
            id="de.dailab.vsdt.trafo.stp.import.wizard"
            name="STP BPMN to BPMN">
         <description>
            A Wizard for Transforming STP BPMN Diagrams to BPMN Diagrams for the VSDT Editor
         </description>
      </wizard>
   </extension>

</plugin>
