<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension point="org.eclipse.ui.exportWizards"
		id="de.dailab.vsdt.trafo.stp.export.wizard"
		name="BPMN to STP BPMN" >
		<wizard
			id="de.dailab.vsdt.trafo.stp.export.wizard"
			name="BPMN to STP BPMN"
			category="de.dailab.vsdt.trafo.export"
			class="de.dailab.vsdt.trafo.stp.wizard.Bpmn2StpExportWizard"
			icon="icons/exportStp.gif">
			<description>
				A Wizard for Transforming BPMN Diagrams to BPMN Diagrams for the STP Editor
			</description>
		</wizard>
	</extension>
	    
	<extension point="org.eclipse.ui.importWizards"
		id="de.dailab.vsdt.trafo.stp.import.wizard"
		name="STP BPMN to BPMN" >
		<wizard
			id="de.dailab.vsdt.trafo.stp.import.wizard"
			name="STP BPMN to BPMN"
			category="de.dailab.vsdt.trafo.import"
			class="de.dailab.vsdt.trafo.stp.wizard.StpBpmnImportWizard"
			icon="icons/importStp.gif">
			<description>
				A Wizard for Transforming STP BPMN Diagrams to BPMN Diagrams for the VSDT Editor
			</description>
		</wizard>
	</extension>

</plugin>
