<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<!-- commands -->
	<extension point="org.eclipse.ui.commands">
		<category name="Easy Service Creation" description="Commands related to the VSDT." id="de.dailab.vsdt.diagram.commands" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.initId" name="Initialize ID" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.initAllIds" name="Initialize All IDs" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.initMessage" name="Initialize Message" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.initInput" name="Initialize Input Set" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.initOutput" name="Initialize Output Set" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.initParticipant" name="Initialize Participant" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.orgWebservices" name="Organize Web Services" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.orgAssignments" name="Organize Assignments" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.orgProperties" name="Organize Properties" />
	<!--<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.orgParticipants" name="Organize Participants" />-->
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.setType" name="Set Type" />
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key commandId="de.dailab.vsdt.diagram.commands.setType" contextId="de.dailab.vsdt.diagram.ui.diagramContext" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="Ctrl+T"/>
	</extension>
	

	<!-- popup menus -->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="false"
			id="de.dailab.vsdt.popupmenuContributor"
			objectClass="de.dailab.vsdt.diagram.edit.parts.IVsdtEditPart">
			
			<menu id="bpmn" label="&amp;BPMN" path="additions" />
			<menu id="bpmn_init" label="&amp;Initialize..." path="additions" />
			<menu id="bpmn_edit" label="&amp;Edit..." path="additions" />
			<menu id="bpmn_org" label="&amp;Organize..." path="additions" />
			
			<!-- Init-Actions -->
			<action
				class="de.dailab.vsdt.diagram.actions.InitOutputSetAction"
				definitionId="de.dailab.vsdt.diagram.commands.initOutput"
				enablesFor="1" icon="icons/Output.gif"
				id="de.dailab.vsdt.actions.InitOutputSet"
				label="&amp;Initialize Output Set" 
				menubarPath="bpmn_init/group1"
				tooltip="Create a new Output Set from the associated Data Objects">
				<enablement>
					<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractActivityEditPart" />
				</enablement>
			</action>
			<action
				class="de.dailab.vsdt.diagram.actions.InitInputSetAction"
				definitionId="de.dailab.vsdt.diagram.commands.initInput"
				enablesFor="1" icon="icons/Input.gif"
				id="de.dailab.vsdt.actions.InitInputSet"
				label="&amp;Initialize Input Set" 
				menubarPath="bpmn_init/group1"
				tooltip="Create a new Input Set from the associated Data Objects">
				<enablement>
					<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractActivityEditPart" />
				</enablement>
			</action>
		<!--<action
				class="de.dailab.vsdt.diagram.actions.InitParticipantAction"
				definitionId="de.dailab.vsdt.diagram.commands.initParticipant"
				enablesFor="1" icon="icons/Participant.gif"
				id="de.dailab.vsdt.actions.InitParticipant"
				label="&amp;Initialize Participant" 
				menubarPath="bpmn_init/group1"
				tooltip="Create a new Participant for this Pool">
				<enablement>
					<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractPoolEditPart" />
				</enablement>
			</action>-->
			<action
				class="de.dailab.vsdt.diagram.actions.InitMessageAction"
				definitionId="de.dailab.vsdt.diagram.commands.initMessage"
				enablesFor="1" icon="icons/Message.gif"
				id="de.dailab.vsdt.actions.InitMessage"
				label="&amp;Initialize Message" 
				menubarPath="bpmn_init/group1"
				tooltip="Create a new Message Element for this Message Flow and its source and target">
				<enablement>
					<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractMessageFlowEditPart" />
				</enablement>
			</action>
			<action
				class="de.dailab.vsdt.diagram.actions.InitIDAction"
				definitionId="de.dailab.vsdt.diagram.commands.initId"
				enablesFor="1" icon="icons/ID.gif"
				id="de.dailab.vsdt.actions.InitId"
				label="&amp;Initialize ID" 
				menubarPath="bpmn_init/group1"
				tooltip="Generate a new ID for this object">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.BusinessProcessDiagramEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractVsdtBorderedShapeEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractVsdtNodeEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractVsdtConnectionEditPart" />
					</or>
				</enablement>
			</action>
			<action
				class="de.dailab.vsdt.diagram.actions.InitAllIdsAction"
				definitionId="de.dailab.vsdt.diagram.commands.initAllIds"
				enablesFor="1" icon="icons/ID.gif"
				id="de.dailab.vsdt.actions.InitAllIds"
				label="&amp;Initialize all IDs" 
				menubarPath="bpmn_init/group1"
				tooltip="Generate new IDs for all objects in the diagram">
				<enablement>
					<objectClass name="de.dailab.vsdt.diagram.edit.parts.BusinessProcessDiagramEditPart" />
				</enablement>
			</action>
			
			<!-- Edit-Actions -->
			<action
				class="de.dailab.vsdt.diagram.actions.SetTypeAction"
				definitionId="de.dailab.vsdt.diagram.commands.setType"
				enablesFor="1"
				id="de.dailab.vsdt.actions.SetType"
				label="&amp;Set Type" 
				menubarPath="bpmn_edit/group1"
				tooltip="Change the type of the selected Element">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractActivityEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractStartEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractEndEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractIntermediateEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractIntermediateBorderItemEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractGatewayEditPart" />
					</or>
				</enablement>
			</action>
			
			<!-- Organize-Actions -->
		<!--<action
				class="de.dailab.vsdt.diagram.actions.OrganizeParticipantsAction"
				definitionId="de.dailab.vsdt.diagram.commands.orgParticipants"
				enablesFor="1" icon="icons/Participant.gif"
				id="de.dailab.vsdt.actions.orgParticipants"
				label="&amp;Organize Participants" 
				menubarPath="bpmn_org/group1"
				tooltip="Open a dialog for managing the Participants">
				<enablement>
					<objectClass name="de.dailab.vsdt.diagram.edit.parts.BusinessProcessDiagramEditPart" />
				</enablement>
			</action>-->
		<!--<action
				class="de.dailab.vsdt.diagram.actions.OrganizeImplementationsAction"
				definitionId="de.dailab.vsdt.diagram.commands.orgWebservices"
				enablesFor="1" icon="icons/Implementation.gif"
				id="de.dailab.vsdt.actions.OrganizeWebservices"
				label="&amp;Organize Implementations" 
				menubarPath="bpmn_org/group1"
				tooltip="Open a dialog for managing Web Services">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.BusinessProcessSystemEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.BusinessProcessDiagramEditPart" />
					</or>
				</enablement>
			</action>-->
		<!--<action
				class="de.dailab.vsdt.diagram.actions.OrganizeMessagesAction"
				definitionId="de.dailab.vsdt.diagram.commands.orgMessages"
				enablesFor="1" icon="icons/Message.gif"
				id="de.dailab.vsdt.actions.OrganizeMessages"
				label="&amp;Organize Messages" 
				menubarPath="bpmn_org/group1"
				tooltip="Open a dialog for managing Messages">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.BusinessProcessSystemEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.BusinessProcessDiagramEditPart" />
					</or>
				</enablement>
			</action>-->
			<action
				class="de.dailab.vsdt.diagram.actions.OrganizePropertiesAction"
				definitionId="de.dailab.vsdt.diagram.commands.orgProperties"
				enablesFor="1" icon="icons/Property.gif"
				id="de.dailab.vsdt.actions.OrganizeProperties"
				label="&amp;Organize Properties" 
				menubarPath="bpmn_org/group1"
				tooltip="Open a dialog for managing the Properties of this element">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractPoolEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractActivityEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractMessageFlowEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.DataObjectEditPart" />
					</or>
				</enablement>
			</action>
			<action
				class="de.dailab.vsdt.diagram.actions.OrganizeAssignmentsAction"
				definitionId="de.dailab.vsdt.diagram.commands.orgAssignments"
				enablesFor="1" icon="icons/Assignment.gif"
				id="de.dailab.vsdt.actions.OrganizeAssignments"
				label="&amp;Organize Assignments" 
				menubarPath="bpmn_org/group1"
				tooltip="Open a dialog for managing the Assignments of this element">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractStartEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractEndEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractIntermediateEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractIntermediateBorderItemEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractActivityEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractGatewayEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractPoolEditPart" />
					</or>
				</enablement>
			</action>
			
		</objectContribution>
	</extension>

</plugin>
