<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   
  <!-- This is useful for debugging the Workflow-Mapping, but should not be part of a release --> 
   <extension
         id="de.dailab.vsdt.trafo.strucbpmn.import.wizard"
         name="StrucBPMN to BPMN"
         point="org.eclipse.ui.importWizards">
      <wizard
            category="Bpmn.import"
            class="de.dailab.vsdt.trafo.strucbpmn.imprt.wizard.StrucBpmnImportWizard"
            id="de.dailab.vsdt.trafo.strucbpmn.import.wizard"
            name="StrucBPMN to BPMN">
         <description>
            A Wizard for importing structured BPMN Diagrams 
         </description>
      </wizard>
      <category
            id="Bpmn.import"
            name="BPMN Import">
      </category>
   </extension>

</plugin>

