<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "strucBpmn" 
			class = "de.dailab.vsdt.trafo.strucbpmn.StrucBpmnPackage"
			genModel = "model/strucBpmn.genmodel" /> 
	</extension>

</plugin>
