<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://schemas.xmlsoap.org/ws/2003/03/business-process/" 
       class = "org.xmlsoap.schemas.ws._2003._03.business.process.ProcessPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="process" 
       class="org.xmlsoap.schemas.ws._2003._03.business.process.util.ProcessResourceFactoryImpl" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://schemas.xmlsoap.org/wsdl/" 
       class = "org.xmlsoap.schemas.wsdl.WsdlPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="wsdl" 
       class="org.xmlsoap.schemas.wsdl.util.WsdlResourceFactoryImpl" />
  </extension>


	<extension point="org.eclipse.ui.exportWizards"
		id="de.dailab.vsdt.trafo.bpel.export.wizard"
		name="BPMN to WS-BPEL">
        <wizard
			id="de.dailab.vsdt.trafo.bpel.export.wizard"
			name="BPMN to BPEL"
			category="de.dailab.vsdt.trafo.export"
			class="de.dailab.vsdt.trafo.bpel.wizard.Bpmn2BpelExportWizard"
			icon="icons/exportBpel.gif">
			<description>
				A Wizard for Transforming BPMN Diagrams to BPEL Processes
			</description>
		</wizard>
	</extension>
        
	<extension point="org.eclipse.ui.importWizards"
		id="de.dailab.vsdt.trafo.bpel.import.wizard"
		name="WS-BPEL to BPMN" >
		<wizard
			id="de.dailab.vsdt.trafo.bpel.import.wizard"
			name="BPEL to BPMN"
			category="de.dailab.vsdt.trafo.import"
			class="de.dailab.vsdt.trafo.bpel.wizard.BpelImportWizard"
			icon="icons/importBpel.gif">
			<description>
				A Wizard for Importing BPEL Processes
			</description>
		</wizard>
	</extension>
   
</plugin>

