<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

<!-- The Create-Model-File-Wizard has been deactivated so it is clearer which wizard to use -->
  <!--<extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "de.dailab.vsdt"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.dailab.vsdt.presentation.VsdtModelWizardID"
      name = "%_UI_VsdtModelWizard_label"
      class = "de.dailab.vsdt.presentation.VsdtModelWizard"
      category = "de.dailab.vsdt"
      icon = "icons/full/obj16/VsdtModelFile.gif">
      <description>%_UI_VsdtModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>-->
  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.dailab.vsdt.presentation.VsdtEditorID"
        name = "%_UI_VsdtEditor_label"
        icon = "icons/full/obj16/VsdtModelFile.gif"
        extensions = "vsdt"
        class = "de.dailab.vsdt.presentation.VsdtEditor" 
        contributorClass="de.dailab.vsdt.presentation.VsdtActionBarContributor" >
    </editor>
  </extension>    
</plugin>
