<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.dailab.de/vsdt/VXL" 
       class = "de.dailab.vsdt.vxl.VxlPackage"
       genModel = "de/dailab/vsdt/Vxl.genmodel" /> 
	
  </extension>




</plugin>
