<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="de.dailab.vsdt.trafo.stp.import.wizard"
         name="STP BPMN to BPMN"
         point="org.eclipse.ui.importWizards">
      <wizard
            category="Bpmn.import"
            class="de.dailab.vsdt.trafo.stp.export.wizard.StpBpmnImportWizard"
            icon="icons/importStp.gif"
            id="de.dailab.vsdt.trafo.stp.import.wizard"
            name="STP BPMN to BPMN">
         <description>
            A Wizard for Transforming STP BPMN Diagrams to BPMN Diagrams for the VSDT Editor
         </description>
      </wizard>
      <category
            id="Bpmn.import"
            name="BPMN Import">
      </category>
   </extension>

</plugin>
