<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension point="org.eclipse.ui.commands">
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.insertGateway" name="Insert Gateway" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.insertActivity" name="Insert Activity" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.insertIntermediate" name="Insert Intermediate Event" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.insertBlock" name="Insert Block" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.insertLoop" name="Insert Loop" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.insertLinkEvents" name="Insert Link Events" />
		
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.appendActivity" name="Append Activity" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.appendGateway" name="Append Gateway" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.appendIntermediate" name="Append Intermediate Event" />
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.appendEnd" name="Append End Event" />
		
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.connectToSequence" name="Connect to Sequence" />
		
		<command categoryId="de.dailab.vsdt.diagram.commands" id="de.dailab.vsdt.diagram.commands.initializePools" name="Initialize Pools" />
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key commandId="de.dailab.vsdt.diagram.commands.appendActivity" contextId="de.dailab.vsdt.diagram.ui.diagramContext" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="Ctrl+Shift+A"/>
		<key commandId="de.dailab.vsdt.diagram.commands.appendGateway" contextId="de.dailab.vsdt.diagram.ui.diagramContext" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="Ctrl+Shift+G"/>
		<key commandId="de.dailab.vsdt.diagram.commands.appendIntermediate" contextId="de.dailab.vsdt.diagram.ui.diagramContext" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="Ctrl+Shift+I"/>
		<key commandId="de.dailab.vsdt.diagram.commands.appendEnd" contextId="de.dailab.vsdt.diagram.ui.diagramContext" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="Ctrl+Shift+E"/>
		<key commandId="de.dailab.vsdt.diagram.commands.connectToSequence" contextId="de.dailab.vsdt.diagram.ui.diagramContext" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="Ctrl+Shift+C"/>
	</extension>
	
	
   
   <extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="false"
			id="de.dailab.vsdt.popupmenuContributor"
			objectClass="de.dailab.vsdt.diagram.edit.parts.SequenceFlowEditPart">
			
   		<!-- Insert Actions -->
   		
   		<menu id="bpmn_insert" label="&amp;Insert..." path="additions" />
			
			<action
				class="de.dailab.vsdt.diagram.actions.structuring.InsertLinkEventsAction"
				definitionId="de.dailab.vsdt.diagram.commands.insertLinkEvents"
				enablesFor="1"
				icon="icons/Link.gif"
				id="de.dailab.vsdt.actions.InsertLinkEvents"
				label="&amp;Insert Link Events"
				menubarPath="bpmn_insert/group1"
				tooltip="Split Sequence Flow using two Link Events">
			</action>
			<action
				class="de.dailab.vsdt.diagram.actions.structuring.InsertLoopAction"
				definitionId="de.dailab.vsdt.diagram.commands.insertLoop"
				enablesFor="1"
				id="de.dailab.vsdt.actions.InsertLoop"
				label="&amp;Insert Loop"
				menubarPath="bpmn_insert/group1"
				tooltip="Insert Loop on this Sequence Flow">
			</action>
			<action
				class="de.dailab.vsdt.diagram.actions.structuring.InsertBlockAction"
				definitionId="de.dailab.vsdt.diagram.commands.insertBlock"
				enablesFor="1"
				id="de.dailab.vsdt.actions.InsertBlock"
				label="&amp;Insert Block"
				menubarPath="bpmn_insert/group1"
				tooltip="Insert Block on this Sequence Flow">
			</action>
			<action
				class="de.dailab.vsdt.diagram.actions.structuring.InsertGatewayAction"
				definitionId="de.dailab.vsdt.diagram.commands.insertGateway"
				enablesFor="1"
				icon="icons/Gateway.gif"
				id="de.dailab.vsdt.actions.InsertGateway"
				label="&amp;Insert Gateway"
				menubarPath="bpmn_insert/group1"
				tooltip="Insert Gateway on this Sequence Flow">
			</action>
			<action
				class="de.dailab.vsdt.diagram.actions.structuring.InsertIntermediateAction"
				definitionId="de.dailab.vsdt.diagram.commands.insertIntermediate"
				enablesFor="1"
				icon="icons/Intermediate.gif"
				id="de.dailab.vsdt.actions.InsertIntermediate"
				label="&amp;Insert Intermediate"
				menubarPath="bpmn_insert/group1"
				tooltip="Insert Intermediate Event on this Sequence Flow">
			</action>
			<action
				class="de.dailab.vsdt.diagram.actions.structuring.InsertActivityAction"
				definitionId="de.dailab.vsdt.diagram.commands.insertActivity"
				enablesFor="1"
				icon="icons/Activity.gif"
				id="de.dailab.vsdt.actions.InsertActivity"
				label="&amp;Insert Activity"
				menubarPath="bpmn_insert/group1"
				tooltip="Insert Activity on this Sequence Flow">
			</action>
		</objectContribution>
		
		<!-- Connect Actions -->
		
		<objectContribution adaptable="false"
			id="de.dailab.vsdt.popupmenuContributor"
			objectClass="de.dailab.vsdt.diagram.edit.parts.IVsdtEditPart">
			
			<menu id="bpmn_connect" label="&amp;Connect..." path="additions" />
			
			<action
	         class="de.dailab.vsdt.diagram.actions.structuring.ConnectToSequenceAction"
	         definitionId="de.dailab.vsdt.diagram.commands.connectToSequence"
	         enablesFor="2+"
	         icon="icons/SequenceFlow.gif"
	         id="de.dailab.vsdt.actions.ConnectToSequence"
	         label="&amp;Connect to Sequence"
	         menubarPath="bpmn_connect/group1"
	         tooltip="Sequentially connect these FlowObjects.">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractActivityEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractGatewayEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractStartEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractIntermediateEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractEndEditPart" />
					</or>
				</enablement>
			</action>
		</objectContribution>
		
		
		<!-- Append Actions -->
		
		<objectContribution adaptable="false"
			id="de.dailab.vsdt.popupmenuContributor"
			objectClass="de.dailab.vsdt.diagram.edit.parts.IVsdtEditPart">
			
			<menu id="bpmn_append" label="&amp;Append..." path="additions" />
			
			<action
	         class="de.dailab.vsdt.diagram.actions.structuring.AppendEndAction"
	         definitionId="de.dailab.vsdt.diagram.commands.appendEnd"
	         enablesFor="1"
	         icon="icons/End.gif"
	         id="de.dailab.vsdt.actions.AppendEnd"
	         label="&amp;Append End Event"
	         menubarPath="bpmn_append/group1"
	         tooltip="Sequentially append a new End Event after this element.">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractActivityEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractGatewayEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractStartEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractIntermediateEditPart" />
					</or>
				</enablement>
			</action>
			<action
	         class="de.dailab.vsdt.diagram.actions.structuring.AppendIntermediateAction"
	         definitionId="de.dailab.vsdt.diagram.commands.appendIntermediate"
	         enablesFor="1"
	         icon="icons/Intermediate.gif"
	         id="de.dailab.vsdt.actions.AppendIntermediate"
	         label="&amp;Append Intermediate Event"
	         menubarPath="bpmn_append/group1"
	         tooltip="Sequentially append a new Intermediate Event after this element.">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractActivityEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractGatewayEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractStartEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractIntermediateEditPart" />
					</or>
				</enablement>
			</action>
			<action
	         class="de.dailab.vsdt.diagram.actions.structuring.AppendGatewayAction"
	         definitionId="de.dailab.vsdt.diagram.commands.appendGateway"
	         enablesFor="1"
	         icon="icons/Gateway.gif"
	         id="de.dailab.vsdt.actions.AppendGateway"
	         label="&amp;Append Gateway"
	         menubarPath="bpmn_append/group1"
	         tooltip="Sequentially append a new Gateway after this element.">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractActivityEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractGatewayEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractStartEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractIntermediateEditPart" />
					</or>
				</enablement>
			</action>
			<action
	         class="de.dailab.vsdt.diagram.actions.structuring.AppendActivityAction"
	         definitionId="de.dailab.vsdt.diagram.commands.appendActivity"
	         enablesFor="1"
	         icon="icons/Activity.gif"
	         id="de.dailab.vsdt.actions.AppendActivity"
	         label="&amp;Append Activity"
	         menubarPath="bpmn_append/group1"
	         tooltip="Sequentially append a new Activity after this element.">
				<enablement>
					<or>
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractActivityEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractGatewayEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractStartEditPart" />
						<objectClass name="de.dailab.vsdt.diagram.edit.parts.AbstractIntermediateEditPart" />
					</or>
				</enablement>
			</action>
			
		</objectContribution>
		
		
		<!-- Initialize Pool Action -->
		
		<objectContribution adaptable="false"
			id="de.dailab.vsdt.popupmenuContributor"
			objectClass="de.dailab.vsdt.diagram.edit.parts.BusinessProcessDiagramEditPart">
			
			<action
	         class="de.dailab.vsdt.diagram.actions.InitializePoolsAction"
	         definitionId="de.dailab.vsdt.diagram.commands.initializePools"
	         enablesFor="1"
	         icon="icons/Pool.gif"
	         id="de.dailab.vsdt.actions.InitializePools"
	         label="&amp;Initialize Pools"
	         menubarPath="bpmn_init/group1"
	         tooltip="Create one Pool for each Participant of this Business Process Diagram.">
	         <enablement>
	         	<objectClass
                 name="de.dailab.vsdt.diagram.edit.parts.BusinessProcessDiagramEditPart">
	         	</objectClass>
	         </enablement>
			</action>
			
		</objectContribution>
   </extension>
	
   <!-- Overview Property Sheet -->
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.dailab.vsdt.diagram"
            labelProvider="de.dailab.vsdt.diagram.sheet.VsdtSheetLabelProvider">
         <propertyCategory category="custom"/>
      </propertyContributor>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.dailab.vsdt.diagram.meta"
            labelProvider="de.dailab.vsdt.diagram.sheet.VsdtSheetLabelProvider">
         <propertyCategory category="custom"/>
      </propertyContributor>
   </extension>
   
   
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="de.dailab.vsdt.diagram">
         <propertyTab
            category="custom"
            id="de.dailab.vsdt.diagram.properties.category"
            label="Overview"/>
      </propertyTabs>
   </extension>
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="de.dailab.vsdt.diagram.meta">
         <propertyTab
            category="custom"
            id="de.dailab.vsdt.diagram.properties.category"
            label="Overview"/>
      </propertyTabs>
   </extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="de.dailab.vsdt.diagram">
         <propertySection
               class="de.dailab.vsdt.diagram.properties.IdObjectSection"
               filter="de.dailab.vsdt.diagram.properties.IdObjectSection"
               id="de.dailab.vsdt.diagram.properties.IdObjectSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.BusinessProcessDiagramSection"
               filter="de.dailab.vsdt.diagram.properties.BusinessProcessDiagramSection"
               id="de.dailab.vsdt.diagram.properties.BusinessProcessDiagramSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.PoolSection"
               filter="de.dailab.vsdt.diagram.properties.PoolSection"
               id="de.dailab.vsdt.diagram.properties.PoolSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.LaneSection"
               filter="de.dailab.vsdt.diagram.properties.LaneSection"
               id="de.dailab.vsdt.diagram.properties.LaneSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.AssociationSection"
               filter="de.dailab.vsdt.diagram.properties.AssociationSection"
               id="de.dailab.vsdt.diagram.properties.AssociationSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.SequenceFlowSection"
               filter="de.dailab.vsdt.diagram.properties.SequenceFlowSection"
               id="de.dailab.vsdt.diagram.properties.SequenceFlowSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.MessageFlowSection"
               filter="de.dailab.vsdt.diagram.properties.MessageFlowSection"
               id="de.dailab.vsdt.diagram.properties.MessageFlowSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.ActivitySection"
               filter="de.dailab.vsdt.diagram.properties.ActivitySection"
               id="de.dailab.vsdt.diagram.properties.ActivitySection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.EventSection"
               filter="de.dailab.vsdt.diagram.properties.EventSection"
               id="de.dailab.vsdt.diagram.properties.EventSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.GatewaySection"
               filter="de.dailab.vsdt.diagram.properties.GatewaySection"
               id="de.dailab.vsdt.diagram.properties.GatewaySection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.DataObjectSection"
               filter="de.dailab.vsdt.diagram.properties.DataObjectSection"
               id="de.dailab.vsdt.diagram.properties.DataObjectSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
      </propertySections>
   </extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="de.dailab.vsdt.diagram.meta">
         <propertySection
               class="de.dailab.vsdt.diagram.properties.IdObjectSection"
               filter="de.dailab.vsdt.diagram.properties.IdObjectSection"
               id="de.dailab.vsdt.diagram.properties.IdObjectSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.BusinessProcessSystemSection"
               filter="de.dailab.vsdt.diagram.properties.BusinessProcessSystemSection"
               id="de.dailab.vsdt.diagram.properties.BusinessProcessSystemSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
               afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.BusinessProcessDiagramSection"
               filter="de.dailab.vsdt.diagram.properties.BusinessProcessDiagramSection"
               id="de.dailab.vsdt.diagram.properties.BusinessProcessDiagramSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
         <propertySection
         	   afterSection="de.dailab.vsdt.diagram.properties.IdObjectSection"
               class="de.dailab.vsdt.diagram.properties.ParticipantSection"
               filter="de.dailab.vsdt.diagram.properties.ParticipantSection"
               id="de.dailab.vsdt.diagram.properties.ParticipantSection"
               tab="de.dailab.vsdt.diagram.properties.category">
         </propertySection>
      </propertySections>
   </extension>
   
   
   <!-- Register the clipboard support for the BPMN metamodel 
   no need to register a special resource as GMFResource are already used
   both for the domain model and the diagram notation -->
   <!--
   <extension point="org.eclipse.gmf.runtime.emf.clipboard.core.clipboardSupport">
      <factory
            class="de.dailab.vsdt.diagram.clipboard.VsdtClipboardFactory"
            nsURI="http://de.dailab.vsdt"
            priority="highest"/>
      <factory
            class="de.dailab.vsdt.diagram.clipboard.VsdtClipboardFactory"
            nsURI="http://www.eclipse.org/gmf/runtime/1.0.0/notation"
            priority="highest"/>
   </extension>
	-->



	<!-- layout -->
	<extension point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
		<layoutProvider
			class="de.dailab.vsdt.diagram.providers.VsdtLayoutProvider">
			<Priority name="High" />
		</layoutProvider>
	</extension>

	<!-- Additonal Views -->
	<extension point="org.eclipse.ui.views">
		<category name="VSDT" id="de.dailab.vsdt.diagram.views"/>
		<view name="Web Services" icon="icons/WebService.gif"
			category="de.dailab.vsdt.diagram.views"
			class="de.dailab.vsdt.diagram.views.webservices.WebServicesView"
			id="de.dailab.vsdt.diagram.views.webservices.WebServicesView">
		</view>
		<view name="Bpmn Properties" icon="icons/Property.gif"
			category="de.dailab.vsdt.diagram.views"
			class="de.dailab.vsdt.diagram.views.bpmnprop.BpmnPropertiesView"
			id="de.dailab.vsdt.diagram.views.bpmnprop.BpmnPropertiesView">
		</view>
		<view name="Pool Visibility" icon="icons/Pool.gif"
			category="de.dailab.vsdt.diagram.views"
			class="de.dailab.vsdt.diagram.views.pools.PoolVisibilityView"
			id="de.dailab.vsdt.diagram.views.pools.PoolVisibilityView">
		</view>
	</extension>
	
	<!-- Perspective -->
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="de.dailab.vsdt.diagram.providers.VsdtPerspectiveFactory"
			icon="icons/Perspective.gif" 
			id="de.dailab.vsdt.perspective"
			name="VSDT">
			<description>
				This perspective is recommended for the work with the
				Visual Service Design Tool
			</description>
		</perspective>
	</extension>

	<!-- Perspective Extensions -->
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="de.dailab.vsdt.perspective">
			<!--<newWizardShortcut id="de.dailab.vsdt.diagram.part.VsdtCreationWizardID" />-->
			<newWizardShortcut id="de.dailab.vsdt.meta.diagram.part.VsdtCreationWizardID" />
			<viewShortcut id="org.eclipse.ui.navigator.ProjectExplorer" />
			<viewShortcut id="org.eclipse.ui.views.PropertySheet" />
			<viewShortcut id="org.eclipse.ui.views.ProblemView" />
			<viewShortcut id="org.eclipse.ui.views.ContentOutline" />
			<viewShortcut id="org.eclipse.ui.views.TaskList" />
			<viewShortcut id="org.eclipse.ui.views.PropertySheet" />
			<viewShortcut id="de.dailab.vsdt.diagram.views.webservices.WebServicesView" />
			<viewShortcut id="de.dailab.vsdt.diagram.views.bpmnprop.BpmnPropertiesView" />
			<viewShortcut id="de.dailab.vsdt.diagram.views.pools.PoolVisibilityView" />
			<view id="de.dailab.vsdt.diagram.views.bpmnprop.BpmnPropertiesView"
				relationship="bottom" relative="org.eclipse.ui.navigator.ProjectExplorer">
			</view>
			<view id="de.dailab.vsdt.diagram.views.webservices.WebServicesView"
				relationship="stack" relative="de.dailab.vsdt.diagram.views.bpmnprop.BpmnPropertiesView">
			</view>
			<view id="de.dailab.vsdt.diagram.views.pools.PoolVisibilityView"
				relationship="stack" relative="org.eclipse.ui.views.ContentOutline">
			</view>
		</perspectiveExtension>
	</extension>
	
	<!-- Import from other VSDT Diagrams -->

	<extension point="org.eclipse.ui.importWizards"
		id="de.dailab.vsdt.import"
		name="Import Wizards" >
		<wizard 
			id="de.dailab.vsdt.import.wizard"
			name="Import other VSDT Diagrams"
			category="de.dailab.vsdt.trafo.import"
			class="de.dailab.vsdt.diagram.imprt.VsdtImportWizard"
			icon="icons/importVsdt.gif">
			<description>
				Import other VSDT Diagrams and merge them to one.
			</description>
		</wizard>
	</extension>

</plugin>
